<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EasyBar-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EasyBar.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>EasyBarCalendarAgent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>EasyBarCalendarConfig.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EasyBarCalendarCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EasyBarCalendarPresentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EasyBarCalendarUI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EasyBarConfigSchema.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EasyBarCtl.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>EasyBarGenerateBuildInfo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>EasyBarGenerateConfig.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>EasyBarLuaRuntime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>EasyBarNetworkAgent.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>EasyBarNetworkAgentCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>EasyBarShared.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EasyBar</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarCalendarAgent</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarCalendarConfig</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarCalendarCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarCalendarPresentation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarCalendarUI</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarCtl</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarLuaRuntime</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarNetworkAgent</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarNetworkAgentCore</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarShared</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EasyBarTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
